/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap");

:root {
  --light-clr: #fff;
  --body-clr: #3d3b3b;
  --main-clr: #053a05;
  --temp-location-clr: #890404;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

html {
  /* height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available; */
  height: 100%;
}

body {
  background: var(--body-clr);
  font-family: serif;
  color: var(--light-clr);
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
  list-style: none;
}

/* ||Based styles | Mobiles */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 0.3125rem;
  width: 90%;
}

header,
footer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  backdrop-filter: blur(10px);
}

header div.grid {
  position: relative;
}

header div.grid ul {
  position: absolute;
  bottom: -60px;
  right: 0;

  font-size: 1rem;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header .title {
  grid-column: 1/3;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  white-space: nowrap;
}

header .title .title-weather-icon {
  width: 40px;
  margin-left: 5px;
  transition: transform 0.5s;
  transform-origin: left;
}

.js-weather-icon-display {
  transform: scale(0);
}

header h2 {
  grid-column: 1/4;
  grid-row: 2;
  color: var(--temp-location-clr);
  font-size: 1.25rem;
  white-space: wrap;
}

header form {
  grid-column: 5/9;
  display: flex;
  justify-content: flex-end;
}

header form .input-wrapper {
  width: 100%;
  margin-right: 5px;
  display: flex;
  justify-content: flex-end;
}

header form input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light-clr);
  color: var(--light-clr);
  font-size: 1rem;
  outline: none;
  padding-top: 20px;
  width: 0;
  transition: width 0.3s;
}

.js-input-toggle {
  width: 100%;
}

header form input::placeholder {
  color: var(--light-clr);
  font-size: 0.813rem;
  font-weight: 200;
  letter-spacing: 0.1;
}

header form button {
  background-color: transparent;
  background-image: url(img/icon/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px;
  border: none;
  margin-bottom: -15px;
  width: 4.063rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

main section {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  border-radius: 5px;
  padding: 5px 0 5px 7px;
  margin-top: 30px;
}

main section .temperature-number-wrapper {
  margin-bottom: -20px;
}

main section .temperature-number {
  font-size: 3.5rem;
  font-weight: 600;
}

main section .temperature-number ~ sup {
  font-size: 1.375rem;
  vertical-align: top;
}

main section .temp-condition {
  font-size: 1.125rem;
  font-weight: 600;
}

img.weather-condition-icon {
  margin-bottom: -10px;
}

/* Loading spinner */
.spinner {
  margin-top: 15px;
  width: 45px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner.hidden {
  visibility: hidden;
}

.spinner > div {
  background-color: var(--light-clr);
  height: 100%;
  width: 5px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

footer {
  text-align: center;
  white-space: nowrap;
  padding: 0 0.5rem;
}

footer ul {
  width: 100%;
}

footer ul li {
  grid-column: span 2;
}

footer ul li * {
  font-weight: 200;
}

footer ul li div:first-child {
  font-size: 0.8125rem;
}

footer ul li div:last-child {
  font-size: 0.875rem;
}

/* ||For form input 480px*/
@media (min-width: 30em) {
  header {
    padding: 0 1rem;
  }

  header .title {
    white-space: nowrap;
  }

  header .title .title-weather-icon {
    transform: scale(1);
  }

  header form input {
    width: 100%;
  }

  header form input::placeholder {
    font-size: 0.9375rem;
  }
}

/* ||Small tablets styles 620px*/
@media (min-width: 38.75em) {
  header {
    padding: 0 1.5625rem;
  }

  header div.grid ul {
    font-size: 1.125rem;
    bottom: -75px;
  }

  header .title {
    font-weight: 600;
  }

  header form {
    grid-column: 6/9;
  }
}

/* ||Larger tablet styles | Laptop styles 960px*/
@media (min-width: 60em) {
  html {
    font-size: 1.125rem;
  }

  .grid {
    max-width: 1060px;
  }

  header div.grid ul {
    bottom: -75px;
  }

  header form .input-wrapper {
    margin-left: 3.125rem;
  }

  footer ul li div:first-child {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

/* ||Desktop styles 1200px */
@media (min-width: 75em) {
  header div.grid ul {
    bottom: -75px;
  }
}
